<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <p>
      Olá, <strong><%= @pupil.name %></strong>, tudo bom?! Esperamos que esteja bem!
    </p>

    <p>
      O treinador <%= @trainer.name %> acaba de salvar um treino novinho
      em folha pra você em nosso app.
    </p>

    <p>
      Dá uma checadinha lá :)
    </p>

    <p>
      Att, <br />
      Equipe <strong>Intreino</strong>.
    </p>
  </body>
</html>
