<section class="card">
	<section class="card-title center-align">
		<h3>Nova Anamnese</h3>
	</section>

	<section class="card-content">
		<section class="row">
			<section class="col s8 push-s2">
				<%= render 'form', anamneses: @anamneses %>
			</section>
		</section>
	</section>
</section>