<section class="row">
	<section class="col s12 center-align trainer_card">
		<section class="card">
			<section class="card-title">
				<h3>Bem Vindo ao <b>INTREINO</b></h3>
			</section>

			<section class="card-content">
				<hr>

				<p>
					Bem vindo ao sistema <b>Intreino</b>.
				</p>

				<p>
					Acesse a <b>barra de navegação</b>, clicando em <%= image_tag 'menu_nav' %> e clique em <b>Meus Alunos</b> 
					para começar a prescrever os treinos dos seus alunos!
				</p>

				<br /><br />

				<p>
					Não se esqueça de perguntar <b>feedbacks</b> de todos os treinos para seus alunos! <br /> 
					Além de treinos diferenciados, um atendimento de ponta é a chave pra 
					fidelização de seus clientes!
				</p>
			</section>
		</section>
	</section>
</section>