<section class="row">
	<section class="col s12 center-align">
		<section class="card">
			<section class="card-title">
				<h3>Bem Vindo ao <b>INTREINO</b></h3>
			</section>

			<section class="card-content">
				<hr>

				Cidade: <%= current_trainer.city.name %>
				
				<hr>
			</section>
		</section>
	</section>
</section>