<section class="row">
	<section class="col s12 center-align trainer_card">
		<section class="card">
			<section class="card-title">
				<h3>Bem Vindo ao <b>INTREINO</b></h3>
			</section>

			<section class="card-content">
				<hr>
				<% if current_trainer.is_status_pendent? %>
					<% if current_trainer.payment_validate.present? %>
						Validade expirada na data <b><%= current_trainer.payment_validate %></b>
					<% end %>

					<p>
						Efetue o pagamento da mensalidade para prosseguir.<br />
						Assim que a mensalidade for processada, sua conta será
						para prescrição de treinos aos seus alunos!
					</p>
					
					<br />

					<%= link_to 'Efetuar Pagamento', 'https://pag.ae/7VWqD2Ezt', class: 'btn waves-effect waves-light green' %>
				<% else %>
					<% if current_trainer.payment_validate.present? %>
						Sua mensalidade expira em: <b><%= current_trainer.payment_validate %></b>
					<% end %>

					<hr />

					<p>
						Bem vindo ao sistema <b>Intreino</b>.
					</p>

					<p>
						Acesse a <b>barra de navegação</b>, clicando em <%= image_tag 'menu_nav' %> e clique em <b>Meus Alunos</b> 
						para começar a prescrever os treinos dos seus alunos!
					</p>

					<br /><br />

					<p>
						Não se esqueça de perguntar <b>feedbacks</b> de todos os treinos para seus alunos! <br /> 
						Além de treinos diferenciados, um atendimento de ponta é a chave pra 
						fidelização de seus clientes!
					</p>
				<% end %>
			</section>
		</section>
	</section>
</section>