<section class="card welcome_card">
	<section class="row center-align">
		<section class="card-title">
			Selecione sua área de atuação
		</section>

		<section class="card-action">
			<section class="col s6">
				<%= link_to 'Sou um aluno', new_pupil_session_path, class: 'waves-effect waves-light btn green' %>
			</section>

			<section class="col s6">
				<%= link_to 'Sou um personal', new_trainer_session_path, class: 'waves-effect waves-light btn orange' %>
			</section>
		</section>
	</section>
</section>