<section class="card">
	<section class="card-title center-align">
		<h3>Novo Comentário</h3>
	</section>

	<section class="card-content">
		<section class="row">
			<section class="col s6 push-s3">
				<%= render 'form', rating: @rating %>
			</section>
		</section>
	</section>
</section>