.welcome_card {
	padding: 20px 0px;
}

.trainer_card  {
	.invite {
		width: 35px;
	}
}

.trainer_div {
	background-color: rgba(245,245,245,0.8);
	box-shadow: -2px 2px 5px rgba(10,10,10,0.2);
	margin: 10px 0px;
}

.perfil {
	img {
		width: 80%;
		border-radius: 100%;
	}
}